@charset "UTF-8";

:root {
    color-scheme: light dark;
    transition: background-color 0.5s ease, color 0.5s ease;

    /* Color palette with brightness 50-950 */

    --mist: #f4f4f4;
    /* 50 */
    --cyan: #bdd;
    /* 200 */
    --moss: #bca;
    /* 200 */
    --teal: #8bc;
    /* 400 */
    --lime: #bb6;
    /* 400 */
    --blue: #168;
    --blue: color(display-p3 0.066667 0.400000 0.533333 / 1.000000);
    /* 700 */
    --navy: #157;
    /* 800 */
    --rust: #432;
    /* 900 */
    --deep: #145;
    /* 900 */
    --dark: #313131;
    /* 950 */

    /* Color application */

    --body-bkg: light-dark(var(--mist), var(--dark));
    --logo-clr: light-dark(var(--teal), var(--navy));
    --logo-bkg: none;

    --header-bkg: none;
    --footer-bkg: none;
    --section-a-bkg: light-dark(var(--logo-clr), var(--logo-clr));
    --section-b-bkg: light-dark(var(--logo-clr), var(--logo-clr));
    --section-c-bkg: light-dark(var(--moss), var(--deep));

    --text-clr: light-dark(var(--dark), var(--mist));
    --heading-clr: light-dark(var(--navy), var(--moss));
    --heading-span-clr: light-dark(var(--dark), var(--mist));
    --section-b-h2-clr: light-dark(var(--deep), var(--moss));
    --section-c-h2-clr: light-dark(var(--rust), var(--moss));
    --details-ul-clr: light-dark(var(--deep), var(--mist));
    --summary-h3: light-dark(var(--dark), var(--mist));
    --summary-marker: light-dark(var(--blue), var(--lime));
    --footer-clr: light-dark(var(--navy), var(--lime));
    --footer-logo-clr: var(--section-c-bkg);

    --quote-clr: light-dark(var(--rust), var(--moss));
    --border-clr: light-dark(var(--rust), var(--lime));

    --link-clr: light-dark(var(--navy), var(--cyan));
    --link-vis-clr: light-dark(#425, #edf);
    --link-hov-foc-clr: light-dark(#125, #cdf);

    /* Root settings */

    --body-font: "azo-sans-web", "futura-pt", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif;
    --alt-font: "futura-pt", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif;
    --heading-font: "futura-pt", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif;
        
    -webkit-text-size-adjust: 100%;
    line-height: 1.8;
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
    background-color: var(--body-bkg);
}

* {
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
}

::selection {
    background-color: light-dark(var(--deep), var(--moss));
    color: light-dark(#fff, #000);
}

/* */

html {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--body-bkg);
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    position: relative;
    overflow-x: clip;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    font-family: var(--body-font);
}

/* */

abbr {
    text-decoration: none;
}

a {
    color: var(--link-clr);
    font-weight: bold;
}

a:hover,
a:visited:hover,
a:focus-visible,
a:visited:focus-visible {
    background-color: var(--link-hov-foc-clr);
    color: light-dark(#fff, #000);
}

a:visited {
    color: var(--link-vis-clr);
}

/* */

input {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    appearance: none;
    opacity: 0;
    margin: 0;
}

button {
    margin: 0 0 0.3rem 1rem;
    padding: 0 0.6rem 0.175rem;
    height: 1.6rem;
    border: 1.6px solid var(--link-clr);
    border-radius: 0.8rem;
    background-color: transparent;
    color: var(--link-clr);
    font-family: var(--alt-font);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    background-color: var(--text-clr);
    color: light-dark(#fff, #000);
}

button:focus-visible,
label:focus-within,
summary:focus-visible,
footer figure:focus-within {
    outline: 2px auto;
    outline-offset: 4px;
}

footer figure a:hover,
footer figure a:visited,
footer figure a:visited:hover,
footer figure a:focus-visible,
footer figure a:visited:focus-visible {
    background-color: transparent;
    color: transparent;
}

label {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    cursor: pointer;
}

label span::after {
    content: "";
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url("/dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

/* */

svg {
    display: block;
    height: 100%;
    width: auto;
    max-width: 100%;
    overflow: visible;
    background-color: var(--logo-bkg);
}

header svg {
    transform: translateY(6.7%);
}

svg path {
    fill: var(--logo-clr);
}

/* */

h1 {
    margin: 2rem 0 1.6rem;
    font-family: var(--heading-font);
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    color: var(--heading-clr);
}

h1 span {
    display: block;
    margin-top: 0.6rem;
    font-family: var(--heading-font);
    font-size: 1.9rem;
    font-weight: bold;
    color: var(--heading-span-clr);
}

main p {
    margin: 0 0 1rem;
    font-size: 1.2rem;
    line-height: 2.0;
    color: var(--text-clr);
}

main p:last-child {
    margin-bottom: 1.6rem;
}

.intro p {
    font-size: 1.1rem;
    line-height: 1.8;
}

/* */

header {
    grid-column: 1;
    height: 100%;
    max-width: 100vw;
    max-width: 100dvw;
    display: flex;
    padding: 1.6rem 1.6rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    line-height: 0;
    background-color: var(--header-bkg);
}

main {
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(4, auto);
}

footer {
    grid-column: 1;
    padding: 1.6rem 1.6rem;
    position: relative;
    background-color: var(--footer-bkg);
    color: var(--footer-clr);
}

/* */

.intro {
    padding: 1.6rem;
    text-align: center;
    border-top-left-radius: 3rem;
    background-color: var(--section-a-bkg);
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.about {
    padding: 1.6rem;
    background-color: var(--section-b-bkg);
}

.enkel-design {
    padding: 1.6rem;
    border-bottom-right-radius: 3rem;
    background-color: var(--section-c-bkg);
}

h2 {
    color: var(--section-b-h2-clr);
    font-family: var(--heading-font);
    font-size: 2.2rem;
    line-height: 1.1;
    margin: 1.6rem 0;
}

.enkel-design h2 {
    color: var(--section-c-h2-clr);
}

/* */

details {
    margin: 1.6rem 0;
}

details::details-content {
    block-size: 0;
    overflow-y: clip;
    transition: content-visibility 618ms, opacity 618ms, block-size 618ms;
    transition-behavior: allow-discrete;
}

details[open]::details-content {
    opacity: 1;
    block-size: auto;
}

details ul {
    margin: 1rem 1.6rem 1.6rem;
    font-size: 1.2rem;
    color: var(--details-ul-clr);
}

details p {
    margin: 1rem 0;
}

summary {
    cursor: pointer;
    font-size: 1.6rem;
    color: var(--summary-marker);
}

summary h3 {
    display: inline;
    margin-left: -0.25rem;
    font-family: var(--heading-font);
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--summary-h3);
}

blockquote {
    border-left: solid 6px var(--border-clr);
    padding-left: 1rem;
    margin: 1.6rem 0;
    font-size: 1.2rem;
    font-family: ui-serif, serif;
    color: var(--quote-clr);
}

blockquote>footer {
    margin-top: 0.5rem;
    color: var(--text-clr);
}

/* */

footer small {
    display: block;
    width: 67%;
    letter-spacing: 0.04rem;
    font-family: var(--alt-font);
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--footer-clr);
}

footer small:last-of-type {
    font-weight: 600;
    color: var(--footer-clr);
}

footer a {
    font-weight: normal;
}

footer small a {
    color: var(--link-clr);
}

footer small a:visited {
    color: var(--link-clr);
}

footer ul {
    margin: 0 0 5rem;
    list-style: none;
    line-height: 2.6;
    font-family: var(--alt-font);
    font-size: 1.2rem;
}

.footer-logo {
    position: absolute;
    right: 1.6rem;
    bottom: 1.6rem;
}

.footer-logo a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: transparent;
}

.footer-logo svg {
    height: 3rem;
    width: auto;
    overflow: visible;
    background: none;
}

.footer-logo path {
    fill: var(--footer-logo-clr);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* */

@media (prefers-color-scheme: light),
(prefers-color-scheme: no-preference) {
    :root:has(input:checked) {
        color-scheme: dark;
    }

    :root:has(input:checked) label span::after {
        background-image: url("/light.svg");
    }
}

@media (prefers-color-scheme: dark) {
    :root:has(input:checked) {
        color-scheme: light;
    }

    label span::after {
        background-image: url("/light.svg");
    }

    :root:has(input:checked) label span::after {
        background-image: url("/dark.svg");
    }
}

@media (forced-colors: active) {
    label {
        display: none;
    }
}

/* */

@media (min-width: 45em) {
    :root {
        --section-a-bkg: none;
    }

    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas:
            "header     intro"
            "about      photo"
            "about      enkel-design"
            "footer     footer";
        margin: 0 auto;
        min-height: none;
    }

    header {
        grid-area: header;
        padding: 1.6rem 2.6rem 0;
    }

    main {
        display: contents;
    }

    h1 {
        margin-top: 0;
    }

    .intro {
        grid-area: intro;
        padding: 1.6rem 2.6rem 0 0;
        border-radius: none;
        text-align: left;
    }

    .about {
        grid-area: about;
        padding: 1.6rem 2.6rem;
        border-top-left-radius: 3rem;
        text-align: left;
    }

    .photo {
        grid-area: photo;
    }

    .enkel-design {
        grid-area: enkel-design;
        padding: 1.6rem 2.6rem;
        margin-top: 0;
        text-align: left;
    }

    footer {
        grid-area: footer;
        padding: 2.6rem 2.6rem;
        text-align: left;
    }

    footer small {
        display: block;
        width: auto;
        text-align: left;
    }

    label,
    input {
        right: 2.6rem;
    }

    .footer-logo {
        right: 2.6rem;
        bottom: 2.6rem;
    }

    .footer-logo svg {
        width: 10rem;
        height: auto;
    }

}

/* */

@media (min-width: 70em) {

    body {
        width: min(62vw, 75em);
        margin: 0 auto;
        grid-template-rows: auto 1fr auto auto;
    }

    header {
        padding: 4.2rem 2.6rem 0;
    }

    .intro {
        padding-top: 3.1rem;
    }

    footer {
        padding-left: 0;
    }

    label,
    input {
        right: 0;
    }

    h1 {
        margin: 1.6rem 0;
    }

    h1 span {
        font-size: 2rem;
    }

    .intro p {
        font-size: 1.2rem;
        color: var(--text-clr);
    }

    .footer-logo {
        right: 0;
    }

}