@supports (color: color(display-p3 1 1 1)) {

  :root {

    --cyan: color(display-p3 0.800 0.870 0.900);
    --cyab: color(display-p3 0.800 0.870 0.900 / 0.850);
    
    --teal: color(display-p3 0.550 0.720 0.800);
    --teab: color(display-p3 0.550 0.720 0.800 / 0.850);
    
    --dear: color(display-p3 0.200 0.667 0.733);
    
    --fire: color(display-p3 0.880 0.560 0.000);

    --blue: color(display-p3 0.100 0.400 0.530);
    --blub: color(display-p3 0.100 0.400 0.530 / 0.850);
    
    --brue: color(display-p3 0.120 0.460 0.620);

    --navy: color(display-p3 0.070 0.360 0.500);

    --dusk: color(display-p3 0.200 0.270 0.350);

    --rust: color(display-p3 0.400 0.220 0.070);

    --deep: color(display-p3 0.070 0.275 0.340);
    --deeb: color(display-p3 0.070 0.275 0.340 / 0.850);
  }
}