@charset "UTF-8";

:root {
    color-scheme: light dark;

    --cerulean-100: #bbeeff;
    --cerulean-700: #077799;
    --cerulean-800: #066688;

    --teal-200: #ccdddd;
    --teal-300: #c0d0d0;
    --teal-400: #778888;
    --teal-600: #556666;
    --teal-800: #334444;
    --teal-900: #223333;
    --teal-950: #001111;

    --sand-300: #ccbbaa;
    --sand-400: #998877;
    --sand-500: #887766;
    --sand-600: #776655;

    --white: #ffffff;
    --grey-50: #f4f4f4;
    --grey-950: #313131;
    --black: #000000;

    --grey-50-opa-0: #f4f4f400;
    --grey-50-opa-1: #f4f4f411;

    --grey-950-opa-0: #31313100;
    --grey-950-opa-1: #31313111;

    --body-background: light-dark(var(--grey-50), var(--grey-950));
    --header-background: light-dark(var(--grey-50), var(--grey-950));
    --main-background: light-dark(var(--teal-200), var(--sand-500));
    --footer-background: light-dark(var(--teal-300), var(--sand-600));

    --logo-e-color: light-dark(var(--sand-400), var(--sand-400));
    --logo-d-color: light-dark(var(--cerulean-700), var(--cerulean-700));
    --rect-top-color: light-dark(var(--grey-50-opa-1), var(--grey-950-opa-0));
    --rect-btm-color: light-dark(var(--grey-50-opa-0), var(--grey-950-opa-1));

    --heading-color: light-dark(var(--sand-500), var(--grey-950));
    --heading-span-color: light-dark(var(--teal-600), var(--teal-200));
    --main-text-color: light-dark(var(--teal-900), var(--grey-50));
    --footer-text-color: light-dark(var(--teal-950), var(--grey-50));

    --footer-link-color: light-dark(var(--cerulean-800), var(--cerulean-100));
    --link-hover-focus-color: light-dark(var(--cerulean-700), var(--teal-200));
    --link-active-color: light-dark(var(--black), var(--white));

    background-color: var(--body-background);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
}

/*
:root:has(#dark:checked) {
    color-scheme: dark;
}

:root:has(#light:checked) {
    color-scheme: light;
}
*/

::selection {
    background-color: light-dark(var(--teal-800), var(--teal-200));
    color: light-dark(var(--white), var(--black));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
.visually-hidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
*/

body {
    display: grid;
    grid: auto 1fr auto / 100%;
    min-height: 100vh;
    min-height: 100dvh;
}

header {
    display: flex;
    align-content: center;
    justify-content: center;
}


main,
footer {
    padding: 1.6rem;
    text-align: center;
}

main {
    background-color: var(--main-background);
}

footer {
    font-size: 0.875rem;
    background-color: var(--footer-background);
    /*position: relative;*/
}

svg {
    display: block;
    width: 75%;
    height: auto;
    margin: 2.6rem 0;
    overflow: visible;
}

.logoEPath {
    fill: var(--logo-e-color);
}

.logoDPath {
    fill: var(--logo-d-color);
}

.rect-top {
    fill: var(--rect-top-color);
}

.rect-btm {
    fill: var(--rect-btm-color);
}

h1 {
    margin: 1rem 0 1.6rem;
    font-size: 2.6rem;
    font-weight: 800;
    color: var(--heading-color);
}

h1 span {
    display: block;
    font-size: 1.6rem;
    color: var(--heading-span-color);
}

main p {
    margin: 0 0 0.6rem;
    color: var(--main-text-color);
}

abbr {
    text-decoration: none;
}

footer p {
    display: inline;
    color: var(--footer-text-color);
}

address {
    display: inline;
    font-style: normal;
    color: var(--footer-text-color);
}

a {
    /* font-weight: bolder; */
    color: var(--footer-link-color);
}

footer span {
    color: light-dark(var(--heading-span-color), var(--footer-text-color));
}

a:hover,
a:focus {
    background-color: var(--link-hover-focus-color);
    color: light-dark(var(--white), var(--black));
}

a:active {
    background-color: light-dark(var(--black), var(--white));
    color: light-dark(var(--cerulean-100), var(--cerulean-800));
}

/*
footer fieldset {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: none;
}

label {
    cursor: pointer;
    font-size: 1.5em;
    margin: 0 1.25rem;
    display: inline-block;
}

#light-label {
    filter: grayscale(100%) brightness(150%);
}

#dark-label {
    filter: grayscale(100%) brightness(50%);
}

#light-label,
#dark-label {
    display: none;
}

input[type="radio"]:hover + #light-label,
input[type="radio"]:focus + #light-label {
    filter: grayscale(0%) brightness(150%);
}

input[type="radio"]:hover + #dark-label,
input[type="radio"]:focus + #dark-label {
    filter: grayscale(0%) brightness(50%);
}

@media (prefers-color-scheme: dark) {
    #light-label {
        display: inline-block;
    }
}

@media (prefers-color-scheme: light),
(prefers-color-scheme: no-preference) {
    #dark-label {
        display: inline-block;
    }
}

:root:has(#dark:checked) #dark-label,
:root:has(#light:checked) #light-label {
    display: none;
}

:root:has(#dark:checked) #light-label,
:root:has(#light:checked) #dark-label {
    display: inline-block;
}
*/

@media (orientation: landscape) {
    body {
        grid: 1fr auto / 1fr 1fr;
        min-height: none;
        margin: 0 auto;
    }

    main,
    footer {
        padding: 1rem;
        text-align: left;

    }

    footer {
        font-size: 0.8125rem;
    }

    header {
        grid-row: span 2;
        align-self: center;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    h1 {
        margin: 0 0 1rem;
    }

}

@media (min-width: 75em) {
    body {
        max-width: 62vw;
        max-width: 62dvw;
    }

    main,
    footer {
        padding: 1.6rem;
        text-align: left;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 1.6rem;
    }
    
    footer {
        font-size: 1rem;
    }
    
    svg {
        width: 62%;
    }

    h1 {
        margin: 1.6rem 0;
    }

}