@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-family: Segoe Ui, Selawik, Open Sans, Arial, sans-serif;
  color: #abc;
  background-color: #123;
}
